@media (min-width: 500px) {
    body {
        overflow-x: hidden;
    }
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    text-align: center;
}
img {
    max-width: 100%;
}

.groups {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1em;
    margin-bottom: -0.5em;
}
.groups > * {
    margin-right: 1em;
    margin-bottom: 0.5em;
}
.collapse-h2 {
    margin-top: -1.245em
}
.collapse-h3 {
    margin-top: -1.17em
}

.grouptable td:nth-child(1) {
    /* Place */
    min-width: 3ch;
    padding-left: 1ch;
    padding-right: 1ch;
}
.grouptable td:nth-child(2) {
    /* Team */
    min-width: 5ch;
    padding-left: 2ch;
    padding-right: 2ch;
}
.grouptable td:nth-child(n+3) {
    /* Wins/Losses */
    min-width: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
}
.grouptable.widewl td:nth-child(n+3) {
    min-width: 2ch;
}

.crosstable td:nth-child(1) {
    /* Team */
    min-width: 5ch;
    padding-left: 2ch;
    padding-right: 2ch;
}
.crosstable td:nth-child(n+2) {
    /* Wins -- Losses */
    min-width: 3ch;
    padding-left: 1ch;
    padding-right: 1ch;
}

.matchbox td:nth-child(1), .matchbox td:nth-child(4) {
    /* Team */
    min-width: 5ch;
    padding-left: 1ch;
    padding-right: 1ch;
}
.matchbox td:nth-child(2), .matchbox td:nth-child(3) {
    /* Score */
    min-width: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
}

.winner, .won {
    background-color: #bfb;
}
.loser, .lost {
    background-color: #fbb;
}
.tied {
    background-color: #ffb;
}
